[Desktop Entry]
Type=Application
Name=Hosty
Comment=Fabric Minecraft server manager
Exec=hosty
Icon=io.github.sugarycandybar.Hosty-symbolic
Terminal=false
Categories=Game;Utility;
Keywords=minecraft;server;fabric;modrinth;
StartupNotify=true
